<div class="flex bg-slate-200 rounded-xl">
  <nav class="bg-indigo-400 text-white p-6 rounded-xl w-80 h-[calc(100vh-80px)]">
    <app-location (onLocationSelected)="selectLocation($event);"></app-location>
  </nav>
  <div class="flex flex-col flex-grow">
    <h2 class="text-4xl font-semibold leading-tight tracking-tight text-gray-900 p-3">Forcasti</h2>
    <div class="grid grid-cols-subgrid gap-4 col-span-3" *ngIf="(weather | json) != ({} | json)">
      <div class="m-10 items-center flex flex-col ">
        <div
          class="w-96 md:mr-20 mb-10 transition duration-500 ease-in-out transform bg-gray-400 rounded-lg hover:scale-105 cursor-pointer border flex flex-col justify-center items-center text-center p-6">
          <div class="text-md font-bold flex flex-col text-gray-900"><span class="uppercase"
              *ngIf="(weather | json) != ({} | json)"
              class="text-3xl font-semibold leading-tight tracking-tight text-gray-900 p-3">{{selectedLocation.name}},
              {{selectedLocation.state}}, {{selectedLocation.country}}</span> <span
              class="font-normal text-gray-700 text-sm">{{weather.weather[0].description}}</span></div>
          <div class="w-32 h-32 flex items-center justify-center">
            <img src="assets/openweathermap/{{weather.weather[0].icon}}.svg" />
            <div class="text-3xl font-bold text-gray-900 mb-6">{{weather.main.temp | number: '1.0-1'}}º<span
                class="font-normal text-gray-800 mx-1">feels like</span>{{weather.main.feels_like | number: '1.0-1'}}º
            </div>
          </div>
          <p class="text-gray-700 mb-2">Wind speed: {{weather.wind.speed | number: '1.0-1'}} m/s</p>
          <p class="text-gray-700 mb-2">Wind degree: {{weather.wind.deg}} °</p>
          <p class="text-gray-700 mb-2">Humidity: {{weather.main.humidity}} %</p>
          <p class="text-gray-700 mb-2">Pressure: {{weather.main.pressure}} hPa</p>
          <p class="text-gray-700 mb-2">Visibility: {{(weather.visibility / 1000) | number: '1.0-1'}} km</p>
          <p class="text-gray-700 mb-2">Pressure: {{weather.main.pressure}} hPa</p>
        </div>
      </div>

    </div>
  </div>

</div>